name: "CI PR"

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    name: "Lint"
    uses: ./.github/workflows/lint.yml

  tests:
    name: "Tests"
    uses: ./.github/workflows/tests.yml

  version-check:
    name: "Version Check"
    uses: ./.github/workflows/version-check.yml
